.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #282c34;
  color: white;
}

.body {
  display: flex;
}

.friends {
  width: 20%;
  min-width: 300px;
  background-color: cadetblue;
}

.user {
  width:80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 80%;
  margin: 0 auto;
  background-color: burlywood;
}